<form method="get">
    <div class="widget__header widget-filters__header">
        <h4>Filters</h4>
    </div>
    <div class="widget-filters__list">
        <div class="filter filter--opened" data-collapse-item="">
            <button type="button" class="filter__title" data-collapse-trigger="">
                Brand
                <span class="filter__arrow"><svg width="12px" height="7px">
                            <path d="M0.286,0.273 L0.286,0.273 C-0.070,0.629 -0.075,1.204 0.276,1.565 L5.516,6.993 L10.757,1.565 C11.108,1.204 11.103,0.629 10.747,0.273 L10.747,0.273 C10.385,-0.089 9.796,-0.086 9.437,0.279 L5.516,4.296 L1.596,0.279 C1.237,-0.086 0.648,-0.089 0.286,0.273 Z"></path>
                        </svg></span>
            </button>
            <div class="filter__body" data-collapse-content="">
                <div class="filter__container">
                    <div class="filter-list">
                        <div class="filter-list__list multiselect">

                            <label class="filter-list__item " multiple="multiple">
                                    <span class="input-check filter-list__input">
                                        <span class="input-check__body">
                                            <input class="input-check__input change_filter click_brand" name="brand[]"
                                                   type="checkbox" data-brand="Fulda" value="Fulda">
                                            <span class="input-check__box"></span>
                                            <span class="input-check__icon"><svg width="9px" height="7px">
                                                    <path d="M9,1.395L3.46,7L0,3.5L1.383,2.095L3.46,4.2L7.617,0L9,1.395Z"></path>
                                                </svg>
                                            </span>
                                        </span>
                                    </span>
                                <span class="filter-list__title">Fulda
                                    </span>
                            </label>

                            <label class="filter-list__item " multiple="multiple">
                                    <span class="input-check filter-list__input">
                                        <span class="input-check__body">
                                            <input class="input-check__input change_filter click_brand" name="brand[]"
                                                   type="checkbox" data-brand="Nokian" value="Nokian">
                                            <span class="input-check__box"></span>
                                            <span class="input-check__icon"><svg width="9px" height="7px">
                                                    <path d="M9,1.395L3.46,7L0,3.5L1.383,2.095L3.46,4.2L7.617,0L9,1.395Z"></path>
                                                </svg>
                                            </span>
                                        </span>
                                    </span>
                                <span class="filter-list__title">Nokian
                                    </span>
                            </label>

                            <label class="filter-list__item " multiple="multiple">
                                    <span class="input-check filter-list__input">
                                        <span class="input-check__body">
                                            <input class="input-check__input change_filter click_brand" name="brand[]"
                                                   type="checkbox" data-brand="Good Year" value="Good Year">
                                            <span class="input-check__box"></span>
                                            <span class="input-check__icon"><svg width="9px" height="7px">
                                                    <path d="M9,1.395L3.46,7L0,3.5L1.383,2.095L3.46,4.2L7.617,0L9,1.395Z"></path>
                                                </svg>
                                            </span>
                                        </span>
                                    </span>
                                <span class="filter-list__title">Good Year
                                    </span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="widget-filters__item">
        <div class="filter filter--opened" data-collapse-item="">
            <button type="button" class="filter__title" data-collapse-trigger="">
                Width
                <span class="filter__arrow"><svg width="12px" height="7px">
                            <path d="M0.286,0.273 L0.286,0.273 C-0.070,0.629 -0.075,1.204 0.276,1.565 L5.516,6.993 L10.757,1.565 C11.108,1.204 11.103,0.629 10.747,0.273 L10.747,0.273 C10.385,-0.089 9.796,-0.086 9.437,0.279 L5.516,4.296 L1.596,0.279 C1.237,-0.086 0.648,-0.089 0.286,0.273 Z"></path>
                        </svg></span>
            </button>
            <div class="filter__body" data-collapse-content="">
                <div class="filter__container">
                    <div class="filter-list">
                        <div class="filter-list__list">

                            <label class="filter-list__item">
                                    <span class="input-check filter-list__input">
                                        <span class="input-check__body">
                                            <input class="input-check__input change_filter click_width" name="width[]"
                                                   type="checkbox" data-width="225" value="225">
                                            <span class="input-check__box"></span>
                                            <span class="input-check__icon"><svg width="9px" height="7px">
                                                    <path d="M9,1.395L3.46,7L0,3.5L1.383,2.095L3.46,4.2L7.617,0L9,1.395Z"></path>
                                                </svg>
                                            </span>                                                                                </span>
                                    </span>
                                <span class="filter-list__title">
                                        225
                                    </span>
                            </label>

                            <label class="filter-list__item">
                                    <span class="input-check filter-list__input">
                                        <span class="input-check__body">
                                            <input class="input-check__input change_filter click_width" name="width[]"
                                                   type="checkbox" data-width="215" value="215">
                                            <span class="input-check__box"></span>
                                            <span class="input-check__icon"><svg width="9px" height="7px">
                                                    <path d="M9,1.395L3.46,7L0,3.5L1.383,2.095L3.46,4.2L7.617,0L9,1.395Z"></path>
                                                </svg>
                                            </span>                                                                                </span>
                                    </span>
                                <span class="filter-list__title">
                                        215
                                    </span>
                            </label>

                            <label class="filter-list__item">
                                    <span class="input-check filter-list__input">
                                        <span class="input-check__body">
                                            <input class="input-check__input change_filter click_width" name="width[]"
                                                   type="checkbox" data-width="195" value="195">
                                            <span class="input-check__box"></span>
                                            <span class="input-check__icon"><svg width="9px" height="7px">
                                                    <path d="M9,1.395L3.46,7L0,3.5L1.383,2.095L3.46,4.2L7.617,0L9,1.395Z"></path>
                                                </svg>
                                            </span>                                                                                </span>
                                    </span>
                                <span class="filter-list__title">
                                        195
                                    </span>
                            </label>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="widget-filters__actions d-flex">
        <button class="btn btn-primary btn-sm" type="submit" id="filter">
            Filter
        </button>
        <button class="btn btn-secondary btn-sm">Reset</button>
    </div>
</form>
